[user]
  name = Xavier Carrillo
  email = xavier.carrillo@clarivate.com
[color]
  ui = true
[alias]
  c  = commit -m
  ci = commit
  caa = commit -a --amend -C HEAD
  # will take all uncommitted and un-staged changes currently in the working directory
  # and add them to the previous commit, amending it before pushing the change up.
  s  = status
  co = checkout
  di = diff --no-pager
  dc = diff --no-pager --cached
  rb = rebase
  rc = rebase --continue
  p  = "!sh -c 'git pull --rebase ; git push'"
  lol = log --pretty=format:'%h %s - %an, %ar ' --abbrev-commit --graph --decorate -n50
  uncommit = reset --soft HEAD^
  cp = cherry-pick
  ignore = !git update-index --assume-unchanged
  unignore = !git update-index --no-assume-unchanged
  ignored = !git ls-files -v | grep '^[a-z]' | cut -f2 -d' '

# If we add this we dont need to specify orign branch when pushing
# If you dont add this and do git push it will push all the branches
[push]
  default = simple

[protocol]
  version = 2
