.CFUserTextEncoding
.DS_Store
.ansible/
.ansible_async/
.anyconnect
.atom/
.aws/
.bash_history
.bash_sessions/
.cache/
.cisco/
.config/
.cookiecutter_replay/
.docker/
.ssh/
.tblive-4/
.terraform.d/
.vim_mru_files
.vim_runtime/
.viminfo
.zsh-update
.zsh_history
Desktop/
Documents/
Downloads/
Library/
MEGAsync/
Movies/
Music/
Pictures/
Public/
